#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-background);

  > .Transition {
    flex: 1;
    overflow: hidden;
  }

  .ChatFolders {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tabs-placeholder {
      height: 2.625rem;
      /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
      transition: height 150ms ease;

      &:not(.open) {
        height: 0;
      }
    }

    .TabList {
      justify-content: flex-start;
      border-bottom: 0;
      z-index: 1;

      opacity: 1;
      transition: opacity var(--layer-transition);
    }

    &--tabs-hidden .TabList {
      pointer-events: none;
      opacity: 0.25;
    }

    .Tab {
      flex: 0 0 auto;
    }

    > .Transition {
      flex: 1;
      overflow: hidden;
    }

    .Tab {
      .folder-icon {
        display: none;
      }
    }

    &--vertical {
      display: flex;
      flex-direction: row;
      height: 100%;

      .TabList {
        flex-direction: column;
        width: 7rem;
        border-right: 1px solid var(--color-borders);
        
        .Tab {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          padding: 0.75rem 1rem;
          width: 100%;
          border-bottom-left-radius: var(--border-radius-messages-small);
          border-bottom-right-radius: var(--border-radius-messages-small);

          &_inner {
            min-width: 3rem;
            justify-content: center;
            .platform.animate {
              display: none;
            }
          }

          .folder-tab-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.8rem;
          }
          
          .folder-icon {
            font-size: 2.0rem;
            color: var(--color-text-secondary);
            font-style: normal;
            display: block;
          }

          .badge {
            position: absolute;
            top: 0;
            right: 0;
          }
          
          &:last-child {
            border-bottom: none;
          }
          
          &--active {
            .folder-icon {
              color: var(--color-primary);
            }
          }
        }
      }

      .ChatList {
        flex: 1;
        min-width: 0;
      }
    }
  }

  .RecentContacts,
  .LeftSearch,
  .search-content {
    height: 100%;
    overflow-y: auto;
  }

  .btn-update {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    white-space: nowrap;
  }
}
